<div class="cartBox">
    <h1 class="text-danger">shoppping cart</h1>
  <div class="headcart">
    <p class="lead">you have <label class="text-danger">2</label>item in your cart</p>
    <span class="text-danger card-header">clear shopping cart</span>
  </div>
  <table class="table table-striped">
    <thead>
        <tr>
            <th></th>
            <th>Name</th>
            <th>price</th>
            <th style="width:25% ;"> Quantity</th>
            <th>Total</th>
            <th></th>
        </tr>
    </thead>
  <tbody>
    <tr>
        <td><img src="" alt="" srcset=""></td>
        <td>Test Title</td>
        <td>1500 l.E</td>
        <td>
            <div class="quantity">
                <button class="btn btn-dark">+</button>
                <input class="form-control" type="number" min="1">
                <button class="btn btn-dark">-</button>
            </div>
        </td>
        <td>200.LE</td>
        <td>
            <button class="btn btn-danger">Delete</button>

        </td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th>total: 1500</th>
        <th> <button class="btn btn-success">order Now</button></th>
    </tr>
  </tfoot>
</table>   

</div>
<div class="alert alert-success" role="alert"><strong>well done!</strong>your order is successfully send</div>