<nav class="navbar">
    <!-- The nav logo part -->
    <div class="navlogo">
        <img src="../../../../assets/logo-oriz-white.png" alt="" srcset="">
    </div>
    <!-- The hambargar menu -->
    <a href="#" class="ham">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </a>
    <!-- The nav links part -->
    <div class="navlinks">
        <ul>
            <li><a href="/user/home">Home</a></li>
            <li><a href="/user#about">About Us</a></li>
            <li><a href="/user/products">products</a></li>
            <li><a href="/user/cart">cart</a></li>
        </ul>
    </div>
</nav>