<footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-3">
            <img src="/assets/logo_footer.png" alt="" srcset="" />
        </div>
        <div class="col-sm-3">
          <ul>
            <li class="title">Contact Us</li>
            <li>Call us at (800)-123-4567</li>
            <li>Call us at (800)-123-4567</li>
          </ul>
        </div>
        <div class="col-sm-3">
          <ul>
               
             
            <li class="title">ABOUT US</li>
            <p>For the best food, drinks and service you
                <br> can choose our restaurant.
                We guarantee you
                <br> the freshest seafood prepared to your liking.Z</p>
          </ul>
        </div>
        <div class="col-sm-3">
          <ul>
            <li class="title">Contact Us</li>
            <li><a href="#">send us an email</a></li>
            <li><a href="#">give us a call</a></li>
          </ul>
          
        </div>
      </div>
    </div>
  </footer>
    
    <!-------------------------------------start footer------------------------>
    <!-- <div class="footer footer-container container-fluid">
        <div class="footer-img col" >
            <img src="/assets/logo_footer.png" alt="" srcset="" />
           </div>
           <div class="footer-ABOUT col">
           <h4>ABOUT US
           </h4>
           <p>For the best food, drinks and service you
           <br> can choose our restaurant.
           We guarantee you
           <br> the freshest seafood prepared to your liking.Z</p>
           </div>
           <div class="footer-CONTACT col">
           <h4>CONTACT US
           </h4>
           <p>Call us at (800)-123-4567
           </p>
           <p>123 New Lenox, Chicago, IL</p>
   
   
    </div>
       -->