<div class="big-container">
        
    <header>
     
 
    
  <div class="overlay">
    <section id="home">
        <h1 class="h-primary">Welcome to Seafood Resturant</h1>
        <br>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perferendis dolorum numquam minus. </p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. </p>
        <button class="btn">Order Now</button>
    </section>
  </div>
  </header>
  
  
  <div id="menu">
    <div class="heading">
        <h1>Menu</h1>
        <h3>Today's Special</h3>
    </div>
    
    <div class="card"routerLink="/products" >
      <a href="/user/products">
      <img src="../../../../assets/shop-6.jpg" alt="" >

    </a>
    </div>
  
      <div class="card" routerLink="/products">
  <a href="/user/products">
      <img src="../../../../assets/parallax-4.jpg" alt="" >
    </a>
  </div>


  <div class="card" routerLink="/products">
    <a href="/user/products">

    <img src="../../../../assets/bg_feature4.jpg" alt="" >
  </a>

</div>



</div>

       <!------------------- ------------start panner we offer---------------->
    <div class="panner">
      <div class="container panner-text">
        <h2>WE OFFER FIRST CLASS SHRIMPS</h2>
        <p>
          We guarantee you the best seafood, delivered daily to our dock, prepared
          to your liking. Our focus <br />
          is on serving the absolute freshest fish and seafood.
        </p>
      </div>
    </div>
  <!------------------- ------------end panner we offer---------------->
    
  
    <div id="about">
        <h1 class="title">About us</h1>
        <div class="about_row">
            <div class="about_column">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laboriosam voluptate aperiam id saepe natus tempore adipisci neque incidunt vel nam, distinctio, eos labore cupiditate assumenda doloremque. Assumenda illo delectus aliquid libero, quisquam vero facere molestias neque similique, aperiam dolores ex mollitia nobis nostrum blanditiis autem qui itaque quos, nisi dolore.</p>
        <button id="btn1">learn more</button>
    </div>
    <div class="about_column">
        <img src="https://img.freepik.com/free-photo/chef-making-ok-sign-white-background_1368-2804.jpg?w=2000
        " alt="">
    </div>
  </div>
  </div>
    
  </div>
  
  
  